<!DOCTYPE html>
<html>

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<title>beatrun.ru | Courses</title>

	<link rel="stylesheet" type="text/css" href="/css/style.css" />
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

	<style>
		body::-webkit-scrollbar {
			width: 0 !important
		}

		body {
			overflow: -moz-scrollbars-none;
		}

		body {
			-ms-overflow-style: none;
		}
	</style>

	<script>
		function update() {
			const page = document.getElementById("pageSelect");
			const sort = document.getElementById("sortValue");
			const search = document.getElementById("searchQuery");

			window.location.href = `/?page=${page.value}&sort=${sort.value}&search=${search.value}`;
		}
		<% if (user) { %>
		function like(element) {
			const id = element.getAttribute("id");
			const likesElement = document.getElementById(`${id}-likes`);

			const xhr = new XMLHttpRequest();
			xhr.open("POST", "/api/rate", false);
			xhr.setRequestHeader("Content-type", "application/json; charset=utf-8");
			xhr.onload = function () {
				const response = JSON.parse(this.responseText);

				if (response.success) likesElement.innerText = response.likes;
			};
			xhr.send(JSON.stringify({ action: "like", code: id, steamid: '<%- user.steamid %>' }));
		}

		function dislike(element) {
			const id = element.getAttribute("id");
			const dislikesElement = document.getElementById(`${id}-dislikes`);

			const xhr = new XMLHttpRequest();
			xhr.open("POST", "/api/rate", false);
			xhr.setRequestHeader("Content-type", "application/json; charset=utf-8");
			xhr.onload = function () {
				const response = JSON.parse(this.responseText);

				if (response.success) dislikesElement.innerText = response.dislikes;
			};
			xhr.send(JSON.stringify({ action: "dislike", code: id, steamid: '<%- user.steamid %>' }));
		}
		<% } %>
	</script>
</head>

<body class="w-screen h-screen bg-stone-900 overflow-x-hidden">
	<nav class="flex h-12 p-4 w-full bg-gradient-to-r from-red-700 to-red-800 drop-shadow-[0_5px_15px_rgba(0,0,0,0.3)]
					font-bold text-2xl">
		<div class="flex flex-row flex-grow">
			<div class="flex flex-col justify-center text-white p-2 rounded-lg drop-shadow-[0_0px_6px_rgba(0,0,0,0.3)]">
				<a href="/">beatrun.ru | Courses Database</a>
			</div>
		</div>

		<div class="flex flex-row flex-grow justify-end">
			<div class="flex flex-col justify-center">
				<a target="_blank" href="https://discord.com/invite/93Psubbgsg" class="text-base text-white p-2 rounded-lg
								hover:text-yellow-200 transition-all h-fit bg-opacity-10
								drop-shadow-[0_0px_6px_rgba(0,0,0,0.3)]">
					<i class="fa-brands fa-discord"></i>
				</a>
			</div>

			<div class="flex flex-col justify-center">
				<a href="/key" class="text-base text-white p-2 rounded-lg
										hover:text-yellow-200 transition-all h-fit bg-opacity-10
										drop-shadow-[0_0px_6px_rgba(0,0,0,0.3)]">
					<i class="fa-solid fa-right-to-bracket"></i>
				</a>
			</div>

			<% if (user && admins[user.steamid]) { %>
				<div class="flex flex-col justify-center">
					<a href="/admin" class="text-base text-white p-2 rounded-lg
										hover:text-yellow-200 transition-all h-fit bg-opacity-10
										drop-shadow-[0_0px_6px_rgba(0,0,0,0.3)]">
						<i class="fa-solid fa-user-tie"></i>
					</a>
				</div>
			<% } %>
		</div>
	</nav>

	<main class="pt-2 flex flex-grow justify-center">
		<div class="h-fit m-4 p-2 rounded-lg bg-stone-800 text-white drop-shadow-[0_0px_10px_rgba(0,0,0,0.5)]">
			<div class="text-center w-full">
				<div class="p-2 text-2xl font-bold">
					User submitted courses
				</div>

				<div class="pb-2 text-base">
					<% if (!user) { %>
						<a class="hover:text-yellow-200 transition-all text-red-300" href="/key">Authorize with Steam</a> to load and upload these courses in-game!
					<% } else { %>
						Welcome, <b class="hover:text-yellow-200 transition-all"><%- locals.sanitize(user.personaname, false, true) %></b>!
					<% } %>
				</div>
			</div>

			<div class="flex">
				<div class="p-2">
					<div class="pb-1 text-sm opacity-50">Page:</div>
					<select id="pageSelect" onchange="update();" class="text-sm rounded-lg focus:ring-yellow-200 focus:border-yellow-300 block w-fit p-2.5 bg-stone-700 border-stone-600 placeholder-stone-400 text-white">
						<%- pagesDropdown %>
					</select>
				</div>

				<div class="p-2">
					<div class="pb-1 text-sm opacity-50">Sorting:</div>
					<select id="sortValue" onchange="update();" class="text-sm rounded-lg focus:ring-yellow-200 focus:border-yellow-300 block w-fit p-2.5 bg-stone-700 border-stone-600 placeholder-stone-400 text-white">
						<%- sortDropdown %>
					</select>
				</div>

				<div class="p-2">
					<div class="pb-1 text-sm opacity-50">Search:</div>
					<input onkeyup="if (event.key === 'Enter') update();" id="searchQuery" class="text-sm rounded-lg focus:ring-yellow-200 focus:border-yellow-300 block w-fit p-2.5 bg-stone-700 border-stone-600 placeholder-stone-400 text-white"></input>
					<script> document.getElementById('searchQuery').value = '<%= searchText %>' </script>
				</div>

				<div class="p-2">
					<div class="pb-1 text-sm opacity-0">what are you looking for?</div>
					<button class="text-sm rounded-lg focus:ring-yellow-200 focus:border-yellow-300 block w-fit p-2.5 bg-stone-700 border-stone-600 placeholder-stone-400 text-white hover:bg-stone-500 active:bg-stone-400 transition-all" onclick="update();">Search</button>
				</div>
			</div>

			<div id="courses" class="grid xl:grid-cols-2">
				<%- coursesList %>
			</div>
		</div>
	</main>

	<div class="text-center bottom-0 p-4 text-white opacity-75 text-sm drop-shadow-[0_0px_6px_rgba(0,0,0,0.3)]">
		Coperight @ Jonny_Bro & rlx 2077
		<br>
		Full source code available <a class="hover:text-yellow-200 transition-all text-red-300" href="https://github.com/JonnyBro/beatrun-courses-server">here</a>!
	</div>
</body>

</html>